* {
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style-type: none;
}
html, body {
	height: 100%;
	width: 100%;
}
body {
	font-family: arial, sans-serif;
}
header {
	width: 100%;
}
main {
	min-height: 100%;
}
.logo {
	width: 100%;
	height: 36px;
	background-color: #999;
}
.logo a img {
	margin-top: 3px;
	margin-left: 12px;
	float: left;
}
.logo a .lupa {
	float: right;
	margin-top: 3px;
	margin-right: 12px;
}
.container header .header-top {
	background-color: #3c8830;
	height: 45px;
	font-size: 11px;
	padding-left: 30px;
	padding-top: 5px;
	font-weight: 600;
	color: white;
	text-transform: uppercase;
}
.container header .header-bottom {
	background-color: #82ae28;
	height: 35px;
	font-size: 11px;
	padding-left: 30px;
	padding-top: 5px;
	font-weight: 600;
	color: white;
	text-transform: uppercase;
}
.image img {
	display: block;
	margin: auto;
	margin-bottom: 10px;
	margin-top: 20px;
}
.image span {
	font-size: 10px;
	display: block;
	color: #000;
	font-weight:500;
	font-style: italic;
	margin: auto;
	text-align: center;
}
.words {
	margin-top: 60px;
}
.ru-word {
	float: left;
	width: 25%;
	margin: auto;
	margin-left: 8%;
}
.header-name {
	background-color: #82ae28;
	height: 30px;
	padding-top: 10px;
	color: #fff;
}
.name {
	float: left;
	margin-left: 10px;
}
.name-language {
	float: right;
	margin-right: 10px;
}
.ne-ru-word {
	float: left;
	width: 35%;
	margin-left: 3%;
}
.language {
	float: left;
	width: 17%;
	height: 450px;
	position: relative;
	margin-left: 4%;
}
.definition {
	padding-left: 10px;
	padding-right: 10px;
	margin: auto;
	text-align: justify;
	margin: 30px auto;
	line-height: 25px;
}
.comment {
	padding-left: 10px;
	padding-right: 10px;
	margin: auto;
	text-align: justify;
	line-height: 25px;
}
span {
	font-weight: 700;
}
.list-language {
	float: left;
	width: 40px;
	background-color: #4f873b;
	position: absolute;
	left: -10px;
}
.list-language ul li a {
	text-transform: uppercase;
  	font-size: 14px;
  	height: 15px;
  	font-weight: 600;
  	line-height: 2.57;
  	text-align: left;
  	color: #fff;
  	display: block;
  	padding-left: 10px;
  	padding-bottom: 16px;
}
.list-word-language {
	float: left;
	padding-left: 6%;
}
.list-word-language ul li {
	text-transform: uppercase;
  	font-size: 14px;
  	height: 15px;
  	font-weight: 600;
  	line-height: 2.57;
  	text-align: left;
  	color: #000;
  	display: block;
  	padding-left: 20px;
  	padding-bottom: 16px;
	overflow: hidden;
	white-space: nowrap;
	position: relative;
	text-overflow: ellipsis;
}
.list-word-language ul li:after {
	content: ''; /* Выводим элемент */
    position: absolute; /* Абсолютное позиционирование */
    right: -10px; top: 0; /* Положение элемента */
    width: 10px; /* Ширина градиента*/
    height: 100%; /* Высота родителя */
	background: -moz-linear-gradient(left, rgba(255,255,255, 0.2), #fff 100%);
    background: -webkit-linear-gradient(left, rgba(255,255,255, 0.2), #fff 100%);
    background: -o-linear-gradient(left, rgba(255,255,255, 0.2), #fff 100%);
    background: -ms-linear-gradient(left, rgba(255,255,255, 0.2), #fff 100%);
    background: linear-gradient(to right, rgba(255,255,255, 0.2), #fff 100%);
	/*









	пиздец потом доделаю










	*/
}
.list-word-language ul li:hover {
    white-space: normal; /* Обычный перенос текста */
   }
.section {
	width: 100%;
	margin: 0 auto;
	min-height:100px;
	margin-top: 120px;
}
.section ul a {
	width: 300px;
	height: 300px;
	margin-bottom: 40px;
	background-color: #555;
	float: left;
	border: 1px solid black;
	margin-right: 50px;
	opacity: 0.75;
	border-radius: 17px;
	color: #000;
}
.section ul a:last-child {
	margin-right:0;
}
.section ul a:first-child {
	margin-left:40px;
}
.section ul a:nth-child(4n) {
	margin-right:0;
}
.section ul a:nth-child(5n) {
	margin-left:40px;
}
.section ul a:hover {
	-webkit-box-shadow: 0 0 21px 3px rgba(50,50,50,1);
	-moz-box-shadow: 0 0 21px 3px rgba(50,50,50, 1);
	box-shadow: 0 0 21px 3px rgba(50,50,50, 1);
	opacity: 1;
	color: #000;
}
.section ul a li {
	text-align: center;
	margin: 0 auto;
	display: block;
	margin-top: 140px;
}
.section ul a li span {
	padding: 5px;
	border-radius: 10px;
	background-color: #fff;
	opacity: 0.9;
}
.section_about {
	width: 100%;
	margin: 0 auto;
	min-height:100px;
	margin-top: 60px;
	text-align: center;
}
.section_about h1 {
	margin: 0 auto;
	margin-bottom: 30px;
}
.section_about h4 {
	float: right;
	text-align: left;
	font-weight: 500;
	font-size: 13px;
	margin-top: 25px;
	font-style: italic;
}
.section_about p {
	margin: 0 40px 0 40px;
	line-height: 1.3em;
	font-size: 15px;
}
.breadcrumbs {
    width: 100%;
    height: 30px;
    background-color: #999;
    font-size: 26px;
}
.breadcrumbs ul li {
  display: inline-block;
  color: black;
}
.breadcrumbs ul li:hover {
  color: rgb(237,1,140);
}
@media screen and (max-width: 1430px) {
	.section ul a {
		min-width: 150px;
		width: 24%;
	}
	.section ul a:nth-child(4n) {
		margin-left:40px;
		margin-right:50px;
	}
	.section ul a:nth-child(5n) {
		margin-left:0;
	}
}
.sinonimi {
	padding-left: 10px;
	padding-right: 10px;
	margin: auto;
	text-align: justify;
	line-height: 25px;
	font-weight: 600;
}
.sinonimi ul li:hover:after {
  content: "<";
}
@media screen and (max-width: 970px) {
		.list-word-language ul li {
		text-transform: uppercase;
		font-size: 9px;
		height: 10px;
		font-weight: 700;
		line-height: 1;
		text-align: left;
		color: #000;
		display: block;
		padding-left: 20px;	
		padding-bottom: 16px;
		padding-top: 10px;
	}
		.list-word-language {
		float: left;
		padding-left: 10%;
	}
		.list-language {
		float: left;
		width: 30px;
		background-color: #4f873b;
		position: absolute;
		left: -5px;
	}
		.list-language ul li a {
		text-transform: uppercase;
		font-size: 12px;
		height: 20px;
		font-weight: 700;
		line-height: 2.57;
		text-align: left;
		color: #fff;
		display: block;
		padding-left: 7px;
		padding-bottom: 16px;
	}
}