{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>EwaGlos</title>
	<link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
	<div class="container">
		<header>
			<div class="header-top">
				<h1>{{ section.name }}</h1>
			</div>
			<div class="header-bottom">
				<h1>{{ subsection.name }}</h1>
			</div>
		</header>
		<main>
			<div class="words">
				<div class="ru-word">
					<div class="header-name">
						<div class="name">
							<h3>{{ word.name }}</h3>
						</div>
						<div class="name-language">
							<h3>EN</h3>
						</div>
					</div>
					<div class="definition">
						<span>Definition:</span> {{ word.definition }}
					</div>
					<div class="comment">
						<span>Comment:</span> {{ word.comment }}
					</div>
				</div>
				<div class="ne-ru-word">
					<div class="header-name">
						<div class="name">
							<h3>{{ word_translation.name }}</h3>
						</div>
						<div class="name-language">
							<h3>{{ word_translation.language }}</h3>
						</div>
					</div>
					<div class="definition">
						<span>Définition:</span>{{ word_translation.definition }}
					</div>
					<div class="comment">
						<span>Commentaires:</span>{{ word_translation.comment }}
					</div>
				</div>
				<div class="language">
					<div class="header-name"></div>
					<div class="list-language">
						<ul>
							<li><a href="{% url "word" word.pk "DE" %}">DE</a></li>
							<li><a href="{% url "word" word.pk "RU" %}">RU</a></li>
							<li><a href="#">HR</a></li>
							<li><a href="#">PL</a></li>
							<li><a href="#">TR</a></li>
							<li><a href="#">HU</a></li>
							<li><a href="#">Ro</a></li>
							<li><a href="#">BG</a></li>
							<li><a href="#">IT</a></li>
							<li><a href="#">ES</a></li>
						</ul>
					</div>
					<div class="list-word-language">
						<ul>
							<li>Höhle</li>
							<li>Пещера</li>
							<li>Špilja</li>
							<li>Jaskinia</li>
							<li>Mağara</li>
							<li>Barlang</li>
							<li>Grotă</li>
							<li>Пещера</li>
							<li>Grotta</li>
							<li>Cueva</li>
						</ul>
					</div>
				</div>
			</div>
		</main>
	</div>
</body>
</html>