{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>EwaGlos</title>
	<link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
	<div class="container">
		<header>
			<div class="header-top">
				<h1>Искусства и ремесла</h1>
			</div>
			<div class="header-bottom">
				<h1>Строительство</h1>
			</div>
		</header>
		<main>
			<div class="image">
				<img src="{% static "image/cave.png" %}" alt="" width="750" height="450">
				<span>Высеченная в скале церковьс сандалиями (Чарыклы Килисе), Гёреме (Турция), XI в. ФотоKBU (АйсунОзкёсе), 1991 г</span>
			</div>
			<div class="words">
				<div class="ru-word">
					<div class="header-name">
						<div class="name">
							<h3>Пещера</h3>
						</div>
						<div class="name-language">
							<h3>Ru</h3>
						</div>
					</div>
					<div class="definition">
						<span>Определение:</span> естественная или искусственная полость в скале, которая может быть декорирована рисунками, живописью, скульптурой и/или гравировками.
					</div>
					<div class="comment">
						<span>Комментарий:</span> путем высекания в
						массиве скалы может создаваться
						архитектура и/или скульптура. Этот вид
						искусства известен под названием
						«скальная архитектура». Такую
						архитектуру можно увидеть, в основном,
						в Средиземноморье, напр. в
						Каппадокии (Турция), Сасси ди Матера
						(Италия), Петре (Иордания).
						Естественные, структурно не
						измененные пещеры не считаются
						скальной архитектурой, хотя и могут
						иметь впечатляющую отделку.
					</div>
				</div>
				<div class="ne-ru-word">
					<div class="header-name">
						<div class="name">
							<h3>Cave</h3>
						</div>
						<div class="name-language">
							<h3>EN</h3>
						</div>
					</div>
					<div class="definition">
						<span>Definition:</span> A natural or man-made cavity in rocks, which may
						be decorated with drawings, paintings, sculpture, and/or
						scratched engravings.
					</div>
					<div class="comment">
						<span>Comment:</span> By carving solid rock where it naturally occurs,
						one can create architecture and/or sculpture. This kind of
						activity creates what is known as ‘‘rock-cut architecture’’.
						Such architecture can be seen mostly in the Mediterranean
						area in places like Cappadocia (Turkey), Sassi di Matera
						(Italy) and Petra (Jordan). Modified caves and caverns are
						not considered rock-cut architecture, but can also contain
						imposing decorations.
					</div>
				</div>
				<div class="language">
					<div class="header-name"></div>
					<div class="list-language">
						<ul>
							<li><a href="#">DE</a></li>
							<li><a href="#">FR</a></li>
							<li><a href="#">HR</a></li>
							<li><a href="#">PL</a></li>
							<li><a href="#">TR</a></li>
							<li><a href="#">HU</a></li>
							<li><a href="#">Ro</a></li>
							<li><a href="#">BG</a></li>
							<li><a href="#">IT</a></li>
							<li><a href="#">ES</a></li>
						</ul>
					</div>
					<div class="list-word-language">
						<ul>
							<li>Höhle</li>
							<li>Abri sous roche</li>
							<li>Špilja</li>
							<li>Jaskinia</li>
							<li>Mağara</li>
							<li>Barlang</li>
							<li>Grotă</li>
							<li>Пещера</li>
							<li>Grotta</li>
							<li>Cueva</li>
						</ul>
					</div>
				</div>
			</div>
		</main>
	</div>
</body>
</html>