{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>EwaGlos</title>
	<link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
	<header>
		<div class="logo">
            <a href="{% url "index" %}"><img src="{% static 'img/house.svg'%}" alt="" height="30" width="30"></a>
		</div>
        <div class="breadcrumbs">
        </div>
		<div class="section">
			<ul>
                <a href="{% url "sections" %}"><li>Открыть словарь</li></a>
                <a href="{% url "about" %}"><li>О проекте</li></a>
			</ul>
		</div>
	</header>
</body>
</html>