{% extends "bootstrap4/bootstrap4.html" %}
{% load static %}
{% block bootstrap4_title %}EwaGlos{% endblock %}
{% block bootstrap4_extra_head %}
    <link rel="stylesheet" href="{% static 'style.css' %}">{% endblock %}
{% block bootstrap4_content %}

    <nav class="navbar navbar-dark bg-primary justify-content-between">
        <a class="navbar-brand">Ewaglos</a>
        <form class="form-inline" action="{% url 'search' lang %}" method="get">
            <div class="select_lan">
                <a href="{% url "about" "EN" %}"><img src="{% static 'img/us.svg' %}" alt="" height="23" width="23"></a>
                <a href="{% url "about" "RU" %}"><img src="{% static 'img/ru.svg' %}" alt="" height="23" width="23"></a>
            </div>
            <input class="form-control mr-sm-2" name="q" type="text" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </nav>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">
                {% if lang == "RU" %}
                    Главная
                {% elif lang == "EN" %}
                    Home
                {% endif %}
            </li>
        </ol>
    </nav>

    <div class="section_about">
        {% if lang == "RU" %}
            <h1>О проекте</h1>
            <p>Как любая другая область профессиональной
                деятельности, реставрация обладает специальным языком
                – терминологией, или специальной лексикой, которая,
                вместе с самой реставрацией, прошла сложный и
                длительный путь развития и на сегодняшний день
                представляет собой стройную исторически сложившуюся
                систему.
                До недавнего времени терминологическая система
                реставрации развивалась стихийно. Реставрация активно
                осваивала новые материалы и техники, а язык
                реставраторов наполнялся новыми словами, которые
                постепенно приобретали более или менее устойчивое
                значение. Отсутствие стандартизированной отраслевой
                терминологии во многом оправдывалось сравнительно
                молодым возрастом научной реставрации памятников
                искусства, которая как самостоятельная дисциплина
                сформировалась только несколько веков назад. Однако на
                сегодняшний день развитие сферы научной реставрации
                достигло той переломной точки, когда без систематизации
                и регулирования профессиональной терминологии она
                просто не может двигаться дальше. Стандартизация
                терминологии является необходимым условием
                автоматизации информационных процессов,
                совершенствования документооборота и успешного
                развития международного научного сотрудничества.
                Долгожданным и важным событием в истории развития
                реставрационной лексикологии стал проект EwaGlos,
                координатором которого выступил Институт Хорнеманна
                (Германия), а руководителем – директор института доктор
                Анжела Вейер. В задачи проекта входили классификация,
                уточнение и унификация отдельных понятий и концептов, а
                также согласование терминологических систем разных
                европейских языков и оптимизация процесса перевода
                терминов с одного языка на другой. В 2015 году проект
                завершился созданием мультиязычного
                иллюстрированного словаря терминов реставрации
                монументальной живописи и архитектурных поверхностей,
                предназначавшегося для того, чтобы сохранить
                сложившуюся профессиональную реставрационную
                лексику и облегчить взаимодействие и взаимопонимание
                реставраторов и исследователей в решении проблем
                сохранения памятников мировой культуры.
                Словарь систематизировал термины сразу одиннадцати
                европейских языков. Каждая словарная статья была
                написана на английском, немецком, французском,
                итальянском, испанском, болгарском, хорватском,
                турецком, польском, румынском и венгерском.
                По инициативе Института Хорнеманна и лично доктора
                Анжелы Вейер после публикации книги перечень языков
                решено было расширить, дополнив сформировавшуюся
                8
                терминологическую базу словарными статьями на русском
                языке. Работа над переводом и научной редакцией
                терминов заняла более двух лет. В проекте приняли
                участие сотрудники научно-образовательного центра
                «Лаборатория цвета» Смоленского государственного
                университета. В качестве партнеров выступили различные
                научные и образовательные учреждения Российской
                Федерации.
                Созданный в результате словарь-справочник содержит
                почти 220 статей, в которых приводятся сведения о
                принципах и методах научной реставрации произведений
                монументальной живописи, теории и практике
                консервации и реконструкции памятников искусства,
                основных методологических направлениях в современной
                реставрации произведений изобразительного искусства.
                Для каждого понятия даны английские эквиваленты с их
                объяснениями в терминологии, принятой в
                профессиональной литературе по реставрации. Кроме
                дефиниций каждая словарная статья включает
                иллюстрации, тщательно отобранные авторами и
                редакторами.
                Словарь на русском языке имеет важное теоретическое и
                практическое значение как для российской, так и для
                мировой науки и практики и обладает широкой сферой
                использования.
                В первую очередь он предназначен для тех, кто
                профессионально связан с реставрацией и сохранением
                культурного наследия. Современная профессиональная
                реставрация представляет собой сложный комплекс
                мероприятий, который включает обязательное ведение
                реставрационной документации и коллегиальное
                обсуждение реставрационных работ. В последнее время
                оба процесса все чаще приобретают международный
                характер. Справочник должен помочь документообороту
                реставраторов, музейных работников, специалистов,
                объединившихся вокруг изучения вопросов реставрации
                архитектурных объектов. Он будет полезен при
                оформлении спецификаций на английском и других
                европейских языках и должен стать надежным
                инструментом в профессиональной коммуникации и
                научно-исследовательской работе.
                Размещение словаря в открытом доступе, его структура и
                оформление ориентируют его также на взаимодействие с
                широким кругом пользователей информационного
                интернет-пространства, интересующихся вопросами
                теории, истории архитектуры и культурного наследия.
                Хорошо изданный и богато иллюстрированный, он
                познакомит широкую аудиторию с интересной сферой
                реставрации монументальной живописи и архитектурных
                поверхностей.
                Кроме того, словарь представляет собой значительный шаг
                вперед в процессе образования. Принципиально новый
                справочник, снабженный дефинициями и переводами
                терминов на английский язык, позволит существенно
                расширить возможности инновационного учебнометодического оснащения образовательной деятельности
                в России исходя из требований федеральных
                государственных образовательных стандартов и
                развивающегося взаимодействия российской
                образовательной системы с образовательными системами
                зарубежных стран в рамках Болонского процесса и других
                международных соглашений с участием Российской
                Федерации. Книга будет полезна аспирантам, студентам,
                учащимся в процессе изучения широкого круга дисциплин,
                связанных с историей и традициями сохранения
                культурного наследия.</p>
            <h4>Юлия Грибер<br>
                Доктор культурологии,<br>
                профессор кафедры философии и социологии<br>
                Смоленского государственного университета,<br>
                Смоленск, декабрь 2018<br></h4>
        {% elif lang == "EN" %}
            About
        {% endif %}
    </div>
{% endblock %}