{% extends "bootstrap4/bootstrap4.html" %}
{% load static %}
{% block bootstrap4_title %}EwaGlos{% endblock %}
{% block bootstrap4_extra_head %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="icon" href="{% static 'img/certification.ico' %}" type="image/x-icon">
    <link rel="shortcut icon" href="{% static 'img/certification.ico' %}" type="image/x-icon">{% endblock %}
{% block bootstrap4_content %}

    <nav class="navbar navbar-dark bg-primary justify-content-between">
        <a class="navbar-brand">Ewaglos</a>
        <form class="form-inline" action="{% url 'search' lang %}" method="get">
            <div class="select_lan">
                <a href="{% url "words" "EN" pk %}"><img src="{% static 'img/us.svg' %}" alt="" height="23" width="23"></a>
                <a href="{% url "words" "RU" pk %}"><img src="{% static 'img/ru.svg' %}" alt="" height="23" width="23"></a>
            </div>
            <input class="form-control mr-sm-2" name="q" type="text" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </nav>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url "index_translate" lang %}">
                {% if lang == "RU" %}
                    Главная
                {% elif lang == "EN" %}
                    Home
                {% endif %}
            </a></li>
            <li class="breadcrumb-item"><a href="{% url "sections" lang %}">
                {% if lang == "RU" %}
                    Разделы
                {% elif lang == "EN" %}
                    Sections
                {% endif %}
            </a></li>
            <li class="breadcrumb-item"><a
                    href="{% url "subsections" lang subsection.section.pk %}">{{ section.name }}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ sub.name }}</li>
        </ol>
    </nav>

    <div class="card-columns">
        {% for word in words %}
            {% if lang == "RU" %}
                <a href="{% url "word" lang word.word.pk "EN" %}">
            {% elif lang == "EN" %}
                <a href="{% url "word" lang word.word.pk "RU" %}">
            {% endif %}
        <div class="card">
            {% if word.word.image.url != None %}
                <img class="card-img-top" src="{{ word.word.image.url }}" alt="Card image cap">
            {% endif %}
            <div class="card-body">
                <h5 class="card-title">
                    {{ word.name }}
                </h5>
            </div>
        </div>
        </a>
        {% endfor %}
    </div>
{% endblock %}