{% extends "bootstrap4/bootstrap4.html" %}
{% load static %}
{% block bootstrap4_title %}EwaGlos{% endblock %}
{% block bootstrap4_extra_head %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="icon" href="{% static 'img/ewaglos_logo.ico' %}" type="image/x-icon">
    <link rel="shortcut icon" href="{% static 'img/ewaglos_logo.ico' %}" type="image/x-icon">

{% endblock %}
{% block bootstrap4_content %}

    <nav class="navbar" id="bootstrap-overrides">
        <a class="navbar-brand">Словарь терминов охраны и восстановления архитектурных объектов</a>
        <form class="form-inline" action="{% url 'search' lang %}" method="get">
            <div class="select_lan">
                <a href="{% url "about" "EN" %}"><img src="{% static 'img/us.svg' %}" alt="" height="23" width="23"></a>
                <a href="{% url "about" "RU" %}"><img src="{% static 'img/ru.svg' %}" alt="" height="23" width="23"></a>
            </div>
            <input class="form-control mr-sm-2"
                   {% if lang == "RU" %}
                        placeholder="Поиск"
                    {% elif lang == "EN" %}
                        placeholder="Search"
                    {% endif %}
                    aria-label="Search" name="q" type="text">
            <button class="btn" type="submit">
                {% if lang == "RU" %}
                    Поиск
                {% elif lang == "EN" %}
                    Search
                {% endif %}
            </button>
        </form>
    </nav>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url "index_translate" lang %}">
                {% if lang == "RU" %}
                    Главная
                {% elif lang == "EN" %}
                    Home
                {% endif %}
            </a></li>
            <li class="breadcrumb-item active" aria-current="page">
                {% if lang == "RU" %}
                    О проекте
                {% elif lang == "EN" %}
                    About
                {% endif %}
            </li>
        </ol>
    </nav>

    <div class="section_about" id="bootstrap-overrides">
        {% if lang == "RU" %}
            <h1>О проекте</h1>
            <p>Как любая другая область профессиональной
                деятельности, реставрация обладает специальным языком
                – терминологией, или специальной лексикой, которая,
                вместе с самой реставрацией, прошла сложный и
                длительный путь развития и на сегодняшний день
                представляет собой стройную исторически сложившуюся
                систему.
            </p>
            <p>
                До недавнего времени терминологическая система
                реставрации развивалась стихийно. Реставрация активно
                осваивала новые материалы и техники, а язык
                реставраторов наполнялся новыми словами, которые
                постепенно приобретали более или менее устойчивое
                значение. Отсутствие стандартизированной отраслевой
                терминологии во многом оправдывалось сравнительно
                молодым возрастом научной реставрации памятников
                искусства, которая как самостоятельная дисциплина
                сформировалась только несколько веков назад. Однако на
                сегодняшний день развитие сферы научной реставрации
                достигло той переломной точки, когда без систематизации
                и регулирования профессиональной терминологии она
                просто не может двигаться дальше. Стандартизация
                терминологии является необходимым условием
                автоматизации информационных процессов,
                совершенствования документооборота и успешного
                развития международного научного сотрудничества.
            </p>
            <p>
                Долгожданным и важным событием в истории развития
                реставрационной лексикологии стал проект EwaGlos,
                координатором которого выступил Институт Хорнеманна
                (Германия), а руководителем – директор института доктор
                Анжела Вейер. В задачи проекта входили классификация,
                уточнение и унификация отдельных понятий и концептов, а
                также согласование терминологических систем разных
                европейских языков и оптимизация процесса перевода
                терминов с одного языка на другой. В 2015 году проект
                завершился созданием мультиязычного
                иллюстрированного словаря терминов реставрации
                монументальной живописи и архитектурных поверхностей,
                предназначавшегося для того, чтобы сохранить
                сложившуюся профессиональную реставрационную
                лексику и облегчить взаимодействие и взаимопонимание
                реставраторов и исследователей в решении проблем
                сохранения памятников мировой культуры.
                Словарь систематизировал термины сразу одиннадцати
                европейских языков. Каждая словарная статья была
                написана на английском, немецком, французском,
                итальянском, испанском, болгарском, хорватском,
                турецком, польском, румынском и венгерском.
            </p>
            <p>
                По инициативе Института Хорнеманна и лично доктора
                Анжелы Вейер после публикации книги перечень языков
                решено было расширить, дополнив сформировавшуюся
                терминологическую базу словарными статьями на русском
                языке. Работа над переводом и научной редакцией
                терминов заняла более двух лет. В проекте приняли
                участие сотрудники научно-образовательного центра
                «Лаборатория цвета» Смоленского государственного
                университета. В качестве партнеров выступили различные
                научные и образовательные учреждения Российской
                Федерации.
            </p>
            <p>
               Уникальная документальная база, сформировавш
                аяся
у научно-образовательного центра «Лаборатория цвета»
в ходе работы над проектом EwaGlos и содержащая все
необходимые для уточнения терминов сведения о
принципах и методах охраны и восстановления архитектурных
объектов, методологии научной реставрации произведений
монументальной живописи, о теории и практике консервации
и реконструкции архитектурных объектов, составила основу
для разработки и издания словаря на русском языке, которые
стали возможны благодаря поддержке гранта Президента
Российской Федерации, предоставленного Фондом президентских
грантов (проект № 19-2-017242).
            </p>
            <p>Созданный в результате реализации проекта словарь включает 200 статей,
которые содержат в себе следующие информационные зоны: (1) термин на
русском языке; (2) определение термина на русском языке; (3) комментарий,
раскрывающий для пользователя смысл термина и поясняющий, в каком
контексте он обычно используется; (4) изображение, поясняющее термин;
(5) варианты и синонимы русского термина; соотносительные термины,
согипонимы; (6) эквивалентные дескрипторы каждого термина на
13 языках: английском, немецком, французском, итальянском, испанском,
болгарском, хорватском, турецком, польском, румынском, венгерском, японском
и персидском; (7) определение эквивалентного понятия на английском языке;
(8) комментарий, раскрывающий для пользователя смысл эквивалентного английского
термина и поясняющий, в каком контексте он обычно используется; (9) источники,
в которых значение рассматриваемого термина объясняется более подробно.
            </p>
            <p>
                Систематизация сложившейся в русском языке
терминологической системы сферы охраны и
восстановления архитектурных объектов и ее
согласование с терминологическими системами
тринадцати других языков (английского, немецкого,
французского, итальянского, испанского, болгарского,
хорватского, турецкого, польского, румынского, венгерского,
японского и персидского) имеет важное теоретическое и
практическое значение как для российской, так и для
мировой науки и практики, а словарь обладает широкой
сферой использования.
            </p>
            <p>
            В первую очередь издание предназначено для тех, кто профессионально связан с исследованием, сохранением и восстановлением культурного наследия. Современная профессиональная реставрация представляет собой сложный комплекс мероприятий, который включает обязательное ведение реставрационной документации и коллегиальное обсуждение реставрационных работ. В последнее время оба процесса все чаще приобретают международный характер. Справочник должен помочь документообороту реставраторов, музейных работников, специалистов, объединившихся вокруг изучения вопросов реставрации архитектурных объектов. Он будет полезен при оформлении спецификаций на английском и других европейских языках и
должен стать надежным инструментом в профессиональной коммуникации и научно-исследовательской работе.
            </p>
            <p>
            Словарь позволит оптимизировать процессы обработки и поиска информации; улучшить качество машинного перевода профессиональных текстов, посвященных проблемам сохранения культурного наследия; усовершенствовать процессы классификации информационных ресурсов; расширить поисковые запросы путем включения синонимичных, общих и частных терминов.
            </p>
            <p>
            общих и частных терминов. Структура и оформление словаря ориентируют его также на взаимодействие с широким кругом пользователей информационного интернет-пространства, интересующихся вопросами теории, истории архитектуры и культурного наследия. Богато иллюстрированный, он познакомит широкую аудиторию с интересной сферой реставрации монументальной живописи и архитектурных поверхностей.
            </p>
            <p>
            Кроме того, словарь представляет собой значительный шаг вперед в отечественном образовательном процессе. Принципиально новый справочник, снабженный дефинициями и переводами терминов на английский язык, позволит существенно расширить возможности инновационного учебно-методического оснащения образовательной деятельности в России исходя из требований федеральных государственных образовательных стандартов и развивающегося взаимодействия российской образовательной системы с образовательными системами зарубежных стран в рамках Болонского процесса и других международных соглашений с участием Российской Федерации. Книга будет полезна аспирантам, студентам, учащимся в процессе изучения широкого круга дисциплин, связанных с историей и традициями сохранения культурного наследия.
            </p>
            <h4>Юлия Грибер<br>
                Доктор культурологии,<br>
                профессор кафедры философии и социологии<br>
                Смоленского государственного университета,<br>
                Смоленск, декабрь 2018<br></h4>
        {% elif lang == "EN" %}
            <h1>Project description</h1>
            <p class="text">Heritage in Europe is a key element in the cultural identity of
the many nations on our small continent. Conservation-restoration as a discipline and profession is directly involved in the
safeguarding of this heritage for future generations. The discipline has a long history evolving over many centuries and
spreading across Europe. Today, conservator-restorers share
common professional principles and although communication
is not always easy in a continent rich in languages, a professional terminology has developed both at national level and international level.
            </p>
            <p>
Terminology at national level may have some specific features,
often related to the regional techniques and materials used, or
specific characteristics of the cultural heritage in a particular
country. This fact reflects the diversity of our heritage, but at
the same time it can cause difficulties in communication. It is
critical for the professionals in conservation-restoration to be
able to understand each other in what is now a highly professionalised field and to communicate correctly, explicitly and
easily. Clear and exact communication not only guarantees
better results, but helps avoid misunderstandings and reduces
the risk of malpractice in the conservation and restoration of
cultural heritage.
            </p>
            <p>
Wall paintings and architectural surfaces are a significant part
of the European heritage. The traditions of conservationrestoration within this facet of heritage can be traced back to
the Renaissance. In spite of the cultural diversity, the principles
in the conservation and restoration of wall paintings and architectural surfaces are the same around the continent. nevertheless, there is no multilingual dictionary to help professionals in their practice and use of language.
            </p>
            <p>
Several attempts were made in the last decade to create such
a dictionary, but without success so far. The EwaGlos project is
an admirable initiative in this direction. With its eleven languages, this is going to be the most ambitious dictionary to
date. It will be an important instrument for communication
which, undoubtedly, will benefit both conservator-restorers
and other professionals involved in the preservation of wall
paintings and architectural surfaces. last but not least, the dictionary will facilitate and encourage mobility and joint initiatives between conservator-restorers throughout Europe.
            </p>
            <h4>Susan Corr<br>
                President of ECCO (European Confederation <br>
                of Conservator-Restorers’ Organisations), July 2015<br></h4>
        {% endif %}
    </div>
{% endblock %}