{% extends "bootstrap4/bootstrap4.html" %}
{% load static %}
{% block bootstrap4_title %}EwaGlos{% endblock %}
{% block bootstrap4_extra_head %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="icon" href="{% static 'img/ewaglos_logo.ico' %}" type="image/x-icon">
    <link rel="shortcut icon" href="{% static 'img/ewaglos_logo.ico' %}" type="image/x-icon">

{% endblock %}
{% block bootstrap4_content %}

    <nav class="navbar" id="bootstrap-overrides">
        <a class="navbar-brand">
            {% if lang == 'RU' %}
                Словарь терминов охраны и восстановления архитектурных объектов
            {% elif lang == 'EN' %}
                European illustrated Glossary of conservation terms for wall painting and architectural surfaces
            {% endif %}
        </a>
        <form class="form-inline" action="{% url 'search' lang %}" method="get">
            <div class="select_lan">
                <a href="{% url "about" "EN" %}"><img src="{% static 'img/us.svg' %}" alt="" height="23" width="23"></a>
                <a href="{% url "about" "RU" %}"><img src="{% static 'img/ru.svg' %}" alt="" height="23" width="23"></a>
            </div>
            <input class="form-control mr-sm-2"
                    {% if lang == "RU" %}
                   placeholder="Поиск"
                    {% elif lang == "EN" %}
                   placeholder="Search"
                    {% endif %}
                   aria-label="Search" name="q" type="text">
            <button class="btn" type="submit">
                {% if lang == "RU" %}
                    Поиск
                {% elif lang == "EN" %}
                    Search
                {% endif %}
            </button>
        </form>
    </nav>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url "index_translate" lang %}">
                {% if lang == "RU" %}
                    Главная
                {% elif lang == "EN" %}
                    Home
                {% endif %}
            </a></li>
            <li class="breadcrumb-item active" aria-current="page">
                {% if lang == "RU" %}
                    О проекте
                {% elif lang == "EN" %}
                    About
                {% endif %}
            </li>
        </ol>
    </nav>

    <div class="section_about" id="bootstrap-overrides">
        {% if lang == "RU" %}
            <h1><strong>О проекте</strong></h1>
            <p>Электронный словарь терминов охраны и восстановления архитектурных объектов разработан в 2020 году при
                поддержке гранта Президента Российской Федерации, предоставленного Фондом президентских грантов (<a
                        href="https://xn--80afcdbalict6afooklqi5o.xn--p1ai/public/application/item?id=BA7F6D1B-84AF-40D4-9468-6F0450D65F38">проект
                    № 19-2-017242</a>).
            </p>
            <p>
                Цель проекта – систематизировать терминологию охраны и восстановления архитектурных объектов и
                согласовать ее с терминологическими системами четырнадцати других языков – английского, немецкого,
                французского, итальянского, испанского, болгарского, хорватского, турецкого, польского, румынского,
                венгерского, арабского, персидского и японского.
            </p>
            <p>
                Структурно и содержательно электронная версия словаря соответствует печатной, изданной при поддержке
                Фонда в московском издательстве «Согласие»:
            </p>
            <br>
            <div style="margin-left: 300px; margin-right: 300px; text-align: justify; font-size: 11pt">
                EWAGLOS: Европейский иллюстрированный словарь
                терминов охраны и восстановления монументальной живописи и
                архитектурных поверхностей. Русские переводы английских дефиниций с соответствиями на арабском,
                болгарском,
                венгерском, испанском, итальянском, немецком, персидском, польском, румынском, турецком, французском,
                хорватском и японском языках / под ред. Ю.А. Грибер; науч. ред. А. Вайер, П. Роиг Пиказо, Д. Поп, Дж.
                Кассар, А. Oскёзе, Ж.-М. Валле, И. Срша. М.: Издательство «Согласие», 2020. 268 с. ISBN
                978-5-907038-42-4
            </div>
            <br>
            <p>
                Словарь объясняет значение 200 терминов, связанных с росписью стен и потолков, а также обработкой
                архитектурных поверхностей из гипса, штукатурки, стукко, мозаики, плитки, камня.
                В словаре 10 тематических разделов, которые объединены в четыре части, выделенные разными цветами:
            </p>
            <p>
                Часть 1 (зеленая) «Технические приемы декоративно-прикладного искусства» содержит 3 раздела:
            </p>
            <div style="text-align: left; margin-left: 100px; font-size: 11pt">

                <ul>
                    <li>&#149 Строительство;</li>
                    <li>&#149 Дизайн поверхности;</li>
                    <li>&#149 Строительные приспособления.</li>
                </ul>
            </div>
            <p>
                Часть 2 (синяя) «Условия» включает 2 раздела:
            </p>
            <div style="text-align: left; margin-left: 100px; font-size: 11pt">

                <ul>
                    <li>&#149 Причины разрушения;</li>
                    <li>&#149 Процессы разрушения.</li>
                </ul>
            </div>
            <p>
                Часть 3 (красная) «Вмешательства» содержит 4 раздела:
            </p>
            <div style="text-align: left; margin-left: 100px; font-size: 11pt">

                <ul>
                    <li>&#149 Документация и исследования;</li>
                    <li>&#149 Превентивная консервация;</li>
                    <li>&#149 Сохранение;</li>
                    <li>&#149 Реставрация.</li>
                </ul>
            </div>
            <p>
                Часть 4 (желтая) «Материалы».
            </p>
            <p>
                Все словарные статьи имеют одинаковую структуру. Каждая статья содержит следующие информационные зоны:
            </p>
            <div style="text-align: left; margin-left: 100px; font-size: 11pt">

                <ul>
                    <li>(1) термин на русском языке;</li>
                    <li>(2) определение термина на русском языке;</li>
                    <li>(3) комментарий, раскрывающий для пользователя смысл термина и поясняющий, в каком контексте он
                        обычно используется;
                    </li>
                    <li>(4) варианты и синонимы русского термина; соотносительные термины, синонимы;</li>
                    <li>(5) эквивалентные дескрипторы каждого термина на 14 языках: английском, немецком, французском,
                        итальянском, испанском, болгарском, хорватском, турецком, польском, румынском, венгерском,
                        японском, арабском и персидском;
                    </li>
                    <li>(6) определение эквивалентного понятия на английском языке;</li>
                    <li>(7) комментарий, раскрывающий для пользователя смысл эквивалентного английского термина и
                        поясняющий, в каком контексте он обычно используется;
                    </li>
                    <li>(8) источники, в которых значение рассматриваемого термина объясняется более подробно.</li>
                </ul>
            </div>
            <p>
                Перекрестные ссылки в конце словарных статей используются для связи терминов, которые имеют сходное
                значение или дают дополнительную информацию.
            </p>
            <p>
                Словарь оснащен быстрым и удобным поиском, который может осуществляться разными способами: по словам;
                словам, близким по смыслу к данным; по синонимам; по отдельной части фразы.
            </p>
            <p>
                Боковая панель с аббревиатурами языков предусматривает переключение языков.
            </p>
            <p>
                Основу для разработки словаря составила уникальная документальная база <a
                    href="http://projekte.hawk-hhg.de/ewaglos/">проекта EwaGlos</a> (координатор –
                Институт Хорнеманна (Германия), руководитель – д-р А. Вейер), над которым в общей сложности работало
                около 70 специалистов, представляющих разные страны, поколения и дисциплины.
            </p>
            <p>
                Авторы электронной версии словаря: Алексей Делов, Карина Цыганкова.
            </p>
            <p>
                Научные консультанты: Татьяна Самойлова, Виктор Мунерман.
            </p>
            <p>
                Переводчики: Василий Двойнев, Елена Сухова, Наталья Васильева, Альбина Тавасиева.
            </p>
            <p>
                Редактор русского текста: Любовь Пузырева.
            </p>
            <h4 style="text-align: right">Юлия Грибер,<br>
                руководитель проекта,<br>
                доктор культурологии,<br>
                директор «Лаборатории цвета»,<br>
                профессор кафедры философии и социологии<br>
                Смоленского государственного университета<br>
                <br>
                Смоленск, март 2020 года<br></h4>
        {% elif lang == "EN" %}
            <h1><strong>Project description</strong></h1>
            <p>Электронный словарь терминов охраны и восстановления архитектурных объектов разработан в 2020 году при
                поддержке гранта Президента Российской Федерации, предоставленного Фондом президентских грантов (<a
                        href="https://xn--80afcdbalict6afooklqi5o.xn--p1ai/public/application/item?id=BA7F6D1B-84AF-40D4-9468-6F0450D65F38">проект
                    № 19-2-017242</a>).
            </p>
            <p>
                Цель проекта – систематизировать терминологию охраны и восстановления архитектурных объектов и
                согласовать ее с терминологическими системами четырнадцати других языков – английского, немецкого,
                французского, итальянского, испанского, болгарского, хорватского, турецкого, польского, румынского,
                венгерского, арабского, персидского и японского.
            </p>
            <p>
                Структурно и содержательно электронная версия словаря соответствует печатной, изданной при поддержке
                Фонда в московском издательстве «Согласие»:
            </p>
            <br>
            <div style="margin-left: 300px; margin-right: 300px; text-align: justify; font-size: 11pt">
                EWAGLOS: Европейский иллюстрированный словарь
                терминов охраны и восстановления монументальной живописи и
                архитектурных поверхностей. Русские переводы английских дефиниций с соответствиями на арабском,
                болгарском,
                венгерском, испанском, итальянском, немецком, персидском, польском, румынском, турецком, французском,
                хорватском и японском языках / под ред. Ю.А. Грибер; науч. ред. А. Вайер, П. Роиг Пиказо, Д. Поп, Дж.
                Кассар, А. Oскёзе, Ж.-М. Валле, И. Срша. М.: Издательство «Согласие», 2020. 268 с. ISBN
                978-5-907038-42-4
            </div>
            <br>
            <p>
                Словарь объясняет значение 200 терминов, связанных с росписью стен и потолков, а также обработкой
                архитектурных поверхностей из гипса, штукатурки, стукко, мозаики, плитки, камня.
                В словаре 10 тематических разделов, которые объединены в четыре части, выделенные разными цветами:
            </p>
            <p>
                Часть 1 (зеленая) «Технические приемы декоративно-прикладного искусства» содержит 3 раздела:
            </p>
            <div style="text-align: left; margin-left: 100px; font-size: 11pt">

                <ul>
                    <li>&#149 Строительство;</li>
                    <li>&#149 Дизайн поверхности;</li>
                    <li>&#149 Строительные приспособления.</li>
                </ul>
            </div>
            <p>
                Часть 2 (синяя) «Условия» включает 2 раздела:
            </p>
            <div style="text-align: left; margin-left: 100px; font-size: 11pt">

                <ul>
                    <li>&#149 Причины разрушения;</li>
                    <li>&#149 Процессы разрушения.</li>
                </ul>
            </div>
            <p>
                Часть 3 (красная) «Вмешательства» содержит 4 раздела:
            </p>
            <div style="text-align: left; margin-left: 100px; font-size: 11pt">

                <ul>
                    <li>&#149 Документация и исследования;</li>
                    <li>&#149 Превентивная консервация;</li>
                    <li>&#149 Сохранение;</li>
                    <li>&#149 Реставрация.</li>
                </ul>
            </div>
            <p>
                Часть 4 (желтая) «Материалы».
            </p>
            <p>
                Все словарные статьи имеют одинаковую структуру. Каждая статья содержит следующие информационные зоны:
            </p>
            <div style="text-align: left; margin-left: 100px; font-size: 11pt">

                <ul>
                    <li>(1) термин на русском языке;</li>
                    <li>(2) определение термина на русском языке;</li>
                    <li>(3) комментарий, раскрывающий для пользователя смысл термина и поясняющий, в каком контексте он
                        обычно используется;
                    </li>
                    <li>(4) варианты и синонимы русского термина; соотносительные термины, синонимы;</li>
                    <li>(5) эквивалентные дескрипторы каждого термина на 14 языках: английском, немецком, французском,
                        итальянском, испанском, болгарском, хорватском, турецком, польском, румынском, венгерском,
                        японском, арабском и персидском;
                    </li>
                    <li>(6) определение эквивалентного понятия на английском языке;</li>
                    <li>(7) комментарий, раскрывающий для пользователя смысл эквивалентного английского термина и
                        поясняющий, в каком контексте он обычно используется;
                    </li>
                    <li>(8) источники, в которых значение рассматриваемого термина объясняется более подробно.</li>
                </ul>
            </div>
            <p>
                Перекрестные ссылки в конце словарных статей используются для связи терминов, которые имеют сходное
                значение или дают дополнительную информацию.
            </p>
            <p>
                Словарь оснащен быстрым и удобным поиском, который может осуществляться разными способами: по словам;
                словам, близким по смыслу к данным; по синонимам; по отдельной части фразы.
            </p>
            <p>
                Боковая панель с аббревиатурами языков предусматривает переключение языков.
            </p>
            <p>
                Основу для разработки словаря составила уникальная документальная база <a
                    href="http://projekte.hawk-hhg.de/ewaglos/">проекта EwaGlos</a> (координатор –
                Институт Хорнеманна (Германия), руководитель – д-р А. Вейер), над которым в общей сложности работало
                около 70 специалистов, представляющих разные страны, поколения и дисциплины.
            </p>
            <p>
                Авторы электронной версии словаря: Алексей Делов, Карина Цыганкова.
            </p>
            <p>
                Научные консультанты: Татьяна Самойлова, Виктор Мунерман.
            </p>
            <p>
                Переводчики: Василий Двойнев, Елена Сухова, Наталья Васильева, Альбина Тавасиева.
            </p>
            <p>
                Редактор русского текста: Любовь Пузырева.
            </p>
            <h4 style="text-align: right">Юлия Грибер,<br>
                руководитель проекта,<br>
                доктор культурологии,<br>
                директор «Лаборатории цвета»,<br>
                профессор кафедры философии и социологии<br>
                Смоленского государственного университета<br>
                <br>
                Смоленск, март 2020 года<br></h4>
        {% endif %}
    </div>
{% endblock %}