{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>EwaGlos</title>
	<link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="icon" href="{% static 'img/certification.ico'%}" type="image/x-icon">
    <link rel="shortcut icon" href="{% static 'img/certification.ico'%}" type="image/x-icon">
</head>
<body>
	<header>
		<div class="logo">
            <a href="{% url "index_translate" lang %}">
                <img class="logo_svg" src="{% static 'img/glossary1.svg' %}" alt="" height="30" width="30">
                <img class="logo_svg" src="{% static 'img/glossary.gif' %}" alt="" height="30" width="30">
                <img class="logo_svg" src="{% static 'img/glossary.gif' %}" alt="" height="30" width="30">
                <img class="logo_svg" src="{% static 'img/glossary.gif' %}" alt="" height="30" width="30">
                <img class="logo_svg" src="{% static 'img/glossary.gif' %}" alt="" height="30" width="30">
                <img class="logo_svg" src="{% static 'img/glossary.gif' %}" alt="" height="30" width="30">
            </a>
            <div class="search">
                <form action="{% url 'search' lang %}" method="get" >
                    <img class="logo_svg" src="{% static 'img/search.svg'%}" alt="" height="17" width="17"><input name="q" type="text" style="height: 12px; padding-left: 25px;">
                </form>
            </div>
            <div class="select_lan">
                <a href="{% url "sections" "EN" %}"><img src="{% static 'img/us.svg' %}" alt="" height="23" width="23"></a>
                <a href="{% url "sections" "RU" %}"><img src="{% static 'img/ru.svg' %}" alt="" height="23" width="23"></a>
            </div>
		</div>
        <div class="breadcrumbs">
            <ul>
            <a href="{% url "index_translate" lang %}">
                <img src="{% static 'img/house.svg'%}" alt="" height="30" width="30">
            </a>
                <img src="{% static 'img/arrow.svg'%}" alt="" height="22" width="22" style="margin: 4px">
            </ul>
        </div>
	</header>
    <div class="section">
			<ul>
                {% for section in sections %}
                    <a href="{% url "subsections"  lang section.section.pk %}" style="background-color: {{ section.section.color }}">
                        <li>
                            <span>
                                {{ section.name }}
                            </span>
                        </li>
                    </a>
                {% endfor %}
			</ul>
		</div>
</body>
</html>