{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>EwaGlos</title>
	<link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
	<header>
		<div class="logo">
            <a href="{% url "index" %}"><img src="{% static 'img/house.svg'%}" alt="" height="30" width="30"></a>
		</div>
        <div class="breadcrumbs">
            <ul>
            <a href="{% url "index" %}"><img src="{% static 'img/house.svg'%}" alt="" height="30" width="30"></a> >
            </ul>
        </div>
		<div class="section">
			<ul>
                {% for section in sections %}
                    <a href="{% url "subsections" section.pk %}" style="background-color: {{ section.color }}"><li>{{ section.name }}</li></a>
                {% endfor %}
			</ul>
		</div>
	</header>
</body>
</html>