{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>EwaGlos</title>
	<link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
	<header>
		<div class="logo">
            <a href="{% url "index" %}"><img src="{% static 'img/house.svg'%}" alt="" height="30" width="30"></a>
		</div>
        <div class="breadcrumbs">

        </div>
    	</header>
    <div class="section">
			<ul>
                {% for word in words %}
                    <a href="{% url "word" word.pk "RU" %}"><li>{{ word.name }}</li></a>
                {% endfor %}
			</ul>
		</div>
	</header>
</body>
</html>