{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>EwaGlos</title>
	<link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
	<header>
		<div class="logo">
            <a href="{% url "index" %}"><img src="{% static 'img/house.svg'%}" alt="" height="30" width="30"></a>
		</div>
        <div class="breadcrumbs">
            <ul>
            <a href="{% url "index" %}"><img src="{% static 'img/house.svg'%}" alt="" height="30" width="30"></a> >
                <a href="{% url "sections" %}"><li>Секции</li></a> >
                <a href="{% url "subsections" section.pk %}"><li>{{ section.name }}</li></a> >
            </ul>
        </div>
    	</header>
    <div class="section">
			<ul>
                {% for word in words %}
                    <a href="{% url "word" word.pk "EN" %}"><li><img src="{{ word.image.url }}" alt="" height="30" width="30">{{ word.name }}</li></a>
                {% endfor %}
			</ul>
		</div>
	</header>
</body>
</html>