{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>EwaGlos</title>
	<link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="icon" href="{% static 'img/certification.ico'%}" type="image/x-icon">
    <link rel="shortcut icon" href="{% static 'img/certification.ico'%}" type="image/x-icon">
</head>
<body>
	<header>
		<div class="logo">
            <a href="{% url "index_translate" lang %}">
                <img class="logo_svg" src="{% static 'img/glossary1.svg' %}" alt="" height="30" width="30">
                <img class="logo_svg" src="{% static 'img/glossary.gif' %}" alt="" height="30" width="30">
                <img class="logo_svg" src="{% static 'img/glossary.gif' %}" alt="" height="30" width="30">
                <img class="logo_svg" src="{% static 'img/glossary.gif' %}" alt="" height="30" width="30">

            </a>
            <div class="search">
                <form action="{% url 'search' lang %}" method="get" >
                    <img class="logo_svg" src="{% static 'img/search.svg'%}" alt="" height="17" width="17"><input name="q" type="text" style="height: 12px; padding-left: 25px;">
                </form>
            </div>
		</div>
        <div class="breadcrumbs">
            <ul>
            <a href="{% url "index_translate" lang %}">
                <img src="{% static 'img/house.svg'%}" alt="" height="30" width="30">
            </a>
                <img src="{% static 'img/arrow.svg'%}" alt="" height="22" width="22" style="margin: 4px">
            </ul>
        </div>
    	</header>
        <div class="section">
			<ul>
                {% for word in words %}
                    {% if lang == "RU" and word.language != "RU" %}
                    <a href="{% url "word" lang word.word.pk word.language %}" style="background-image: url({{ word.word.image.url }}); background-size: cover;">
                    {% elif lang == "RU" and word.language == "RU" %}
                    <a href="{% url "word" lang word.word.pk "EN" %}" style="background-image: url({{ word.word.image.url }}); background-size: cover;">
                    {% elif lang == "EN" and word.language != "EN" %}
                    <a href="{% url "word" lang word.word.pk word.language %}" style="background-image: url({{ word.word.image.url }}); background-size: cover;">
                    {% elif lang == "EN" and word.language == "EN" %}
                    <a href="{% url "word" lang word.word.pk "RU" %}" style="background-image: url({{ word.word.image.url }}); background-size: cover;">
                    {% endif %}
                        <li>
                            <span>
                            {{ word.name }}
                                {{ word.language }}
                            </span>
                        </li>
                    </a>
                {% endfor %}
			</ul>
		</div>
</body>
</html>